#help-info,
#optc-db-info {
    font-size: 13px;
    padding: 5px;
}

:disabled {
    cursor: not-allowed;
}

.jpn-tm {
    display: none;
}

.div_x,
#div_1_2x_tm_rr,
#div_1_2x_tm {
    display: none;
}

#info_1_2x_alt {
    display: none;
}

#nakama-info {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .col-margin {
        margin-bottom: 5px;
    }
}

.tooltip-xpts {
    color: goldenrod;
    font-weight: bold;
}

.tooltip-class-div {
    display: inline-block;
    height: 25px;
    margin: 3px;
    width: 25px;
}

#unit-detail-class1,
#unit-detail-class2 {
    display: inline-block;
    height: 25px;
    margin: 5px;
    width: 25px;
}

.booster-info,
.confirm-save,
#unit-detail-captain-ability,
#unit-detail-swap,
#unit-detail-special,
#unit-detail-st,
#unit-detail-vs,
#unit-detail-sailor {
    font-size: 13px;
    margin-bottom: 10px;
}

#unit-detail-sp-cd-span,
#unit-cost-div {
    font-size: 13px;
}

.booster {
    cursor: pointer;
}

.booster-div {
    margin-bottom: 20px;
    min-height: 40px;
}

#ambush-team {
    display: none;
}

.team-title {
    text-align: center;
}

.team-slot,
.ambush-team-slot {
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    min-height: 40px;
    min-width: 40px;
}

.team-slot>div,
.ambush-team-slot>div,
.support-slot>div {
    background: red;
}

#support-table tr.invalid-support {
    cursor: not-allowed;
}

#support-table tr div {
    display: inline-block;
}

#support-table tr.invalid-support div{
    background-color: red;
}

img.highlight {
    opacity: 0.5;
}

.support-slot {
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    min-height: 25px;
    min-width: 25px;
    margin-top: auto;
}

.support-slot.hidden {
    visibility: hidden;
}
#add-button {
    background-image: url('/tm-planner/assets/img/add.png');
    background-size: 100%;
    display: inline-block;
    height: 40px;
    margin: 1px;
    width: 40px;
}

#help-button {
    margin: 5px;
}

.remove-button-el,
.available-units-el,
.units-in-team-el,
.units-assigned-el,
.unit-detail-el,
#non-booster-div {
    display: none;
}

.select-modal-unit {
    cursor: pointer;
    margin: 1px;
}

.assigned-dh {
    cursor: pointer;
}

.assigned-dh > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.booster-clone > img {
    border: 3px ridge darkorange;
}

.booster-clone.non-booster > img {
    border: 3px ridge #00bcd4;
}

#export-url-div,
#read-only-button-div,
#bird-luck-div {
    display: none;
}

div#export-image-modal {
    overflow-x: auto;
}

div#export-image-modal .modal-dialog,
div#support-character-modal .modal-dialog {
    width: fit-content;
    max-width: fit-content;
    margin: 1.75rem auto;
}

.export-image-info {
    margin: 15px;
    display: flex;
    place-content: center;
}

.tm-select {
    margin: 0 30px;
}

.export-image-title {
    display: flex;
    font-size: 18px;
    font-weight: 900;
    margin: auto;
    align-items: center;
    border: 2px dotted var(--bg-color-nav);
    border-radius: 15px;
    color: var(--font-color-title);
    padding: 8px;
}

span.x_pts {
    font-size: 16px;
    font-weight: 900;
    color: orangered;
}

.op-guide-btn.warning {
    border: 4px dashed gold;
}

.op-guide-btn.error {
    border: 4px dashed #ef5350;
}

.type-filtered,
.class-filtered,
.name-filtered,
.booster[class^="sp-filtered-"],
.booster[class*=" sp-filtered-"],
.booster-clone[class^="sp-filtered-"],
.booster-clone[class*=" sp-filtered-"],
.booster[class^="sl-filtered-"],
.booster[class*=" sl-filtered-"],
.booster-clone[class^="sl-filtered-"],
.booster-clone[class*=" sl-filtered-"],
.booster[class^="ca-filtered-"],
.booster[class*=" ca-filtered-"],
.booster-clone[class^="ca-filtered-"],
.booster-clone[class*=" ca-filtered-"],
.booster[class^="sv-filtered-"],
.booster[class*=" sv-filtered-"],
.booster-clone[class^="sv-filtered-"],
.booster-clone[class*=" sv-filtered-"],
.booster[class^="sw-filtered-"],
.booster[class*=" sw-filtered-"],
.booster-clone[class^="sw-filtered-"],
.booster-clone[class*=" sw-filtered-"] {
    opacity: .3;
}

.class-mode {
    white-space: normal;
}

.class-decorate {
    background-size: cover;
    display: inline-block;
    height: 13px;
    margin-right: 3px;
    width: 13px;
}

/* Overwrite Bootstrap */
.badge {
    font-size: inherit;
}

#tm-team-sets > div {
    width: 100%;
    align-items: flex-end;
}

.team {
    padding: 0 0 5px 25px;
}

.filter-button-div {
    display: flex;
    z-index: 10;
    padding: 0;
    align-items: center;
}

.sup-filter-clear-all-div,
.filter-clear-all-div {
    align-self: center;
}

.sup-filter-remove-div {
    margin-left: auto;
}

.fixed-filter-button {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
}

.filter-button,
.sup-filter-button,
.filter-clear-all-btn,
.sup-filter-clear-all-btn {
    text-align: center;
}

.filter-button,
.sup-filter-button {
    background: url(../img/filter_bg.png);
    background-size: 100% 100%;
    opacity: .5;
    color: white;
    min-width: 85px;
    height: 40px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 25px;
}

.sup-filter-clear-all-btn,
.filter-clear-all-btn {
    width: 80px;
    height: 30px;
    font-size: 15px;
    padding: 0;
}

.filter-button.active,
.sup-filter-button.active,
.fixed-note-button.active {
    opacity: 1;
}

.expand-button-div {
    align-self: center;
    padding: 0;
    padding-right: 5px;
}

.fixed-teams {
    width: 100%;
    background: var(--bg-color-main);
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid;
}

div#support-filters {
    display: flex;
    align-items: flex-start;
    background: var(--bg-color-team-note);
}

.fixed-filters {
    display: none;
}

.filter-group-div {
    z-index: 11;
    background: var(--bg-color-main);
}

.filter-group-holder {
    display: none;
}

#tm-filter-sets {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px;
    overflow: auto;
}

.tm-filter {
    background: url("../img/pop_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fixed-filters {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 45px 0 45px 0;
    background: var(--bg-color-main);
}

#filter-action {
    float: right;
    text-decoration: underline;
}

.filter-title {
    background: url("../img/title_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 30px;
    min-height: 30px;
    width: 90%;
    margin: 10px auto;
    position: relative;
}

.filter-icons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0px 10px 10px 10px;
}

.filter-title>img {
    position: relative;
    left: 10%;
    top: 5px;
    height: 20px;
}

@media (max-width: 767px) {
    .filter-group-div {
        z-index: 9;
    }

    .fixed-teams div#tm-team-sets {
        overflow: auto;
    }

    .fixed-teams div#tm-team-sets > div.row {
        display: flex;
        flex-flow: nowrap;
    }
}

span.highlight-numbers {
    color: darkorange;
    font-size: 15px;
    font-weight: 900;
}

@media (min-width: 768px) {
    #team-hints {
        display: none!important;
    }
}

.team .row div {
    display: flex;
    justify-content: center;
}

.booster.ui-draggable-dragging {
    z-index: 11;
}

.expand-collapse-icons-row {
    text-align: right;
}

.cal-button {
    white-space: normal;
}

button.pts-button,
button.cal-button {
    background: var(--bg-color-team-button);
    color: aliceblue;
    width: 150px;
}

button.pts-button:hover,
button.cal-button:hover {
    color: var(--font-highlight-dl-button);
    background-color: var(--bg-highlight-dl-button);
    border-color: var(--bg-highlight-dl-button);
}

/* prepare the selectors to add a stroke to */
.stroke-single {
    position: relative;
    background: transparent;
    z-index: 0;
    color: #FFEB3B;
    font-size: 15px;
    top: 8px;
    text-align: center;
}

/* add a single stroke */
.stroke-single:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.3em #000000;
    z-index: -1;
}

.filter-clear-btn {
    font-size: 10px;
    height: 20px;
    padding: 0 10px;
    position: absolute;
    top: 6px;
    right: 12px;
}

.op-guide-btn {
    border-style: double;
    border-width: medium;
}

.op-icon {
    color: crimson;
}

.op-name {
    font-weight: bold;
    white-space: normal;
}

#guide-stage-clone,
#guide-stage-type-clone,
#guide-action-clone,
#guide-action-clone-old,
#guide-sp-filter-clone,
#guide-sl-filter-clone,
#guide-ca-filter-clone,
#guide-sv-filter-clone,
#guide-sw-filter-clone,
#guide-tc-filter-clone {
    display: none;
}

.unit-detail-sp-cd-num,
.guide-stage-type {
    font-weight: bold;
}

.filter-info {
    color: darkgray;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}

.guide-action-icon,
.guide-sp-filter,
.guide-sl-filter,
.guide-ca-filter,
.guide-sv-filter,
.guide-sw-filter,
.guide-tc-filter {
    float: left;
    height: 25px;
    margin: 5px;
    width: 25px;
}

.team-note-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.guide-tc-filter {
    font-size: 10px;
}

.guide-sp-filter,
.guide-sl-filter,
.guide-ca-filter,
.guide-sv-filter,
.guide-sw-filter,
.guide-tc-filter {
    opacity: .3;
}

.guide-sp-filter.selected,
.guide-sl-filter.selected,
.guide-ca-filter.selected,
.guide-sv-filter.selected,
.guide-sw-filter.selected,
.guide-tc-filter.selected {
    opacity: 1;
}

.guide-action-type,
.guide-action-detail {
    font-size: 12px;
}

.boss-stat-unconfirmed-msg {
    display: none;
    font-size: 13px;
    color: salmon;
}

#incomplete-notice {
    display: none;
}

table#support-table td {
    background: var(--bg-color-main);
    font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: var(--font-color-main) !important;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_length select {
    color: var(--font-color-main);
    display: none;
}

div#tm-team-build-note-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--bg-color-team-note);
    border: 2px dashed var(--bg-highlight-dl-button);
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.fixed-note-button {
    font-weight: 900;
    margin-left: auto;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    cursor: pointer;
    opacity: 0.5;
    font-variant: all-small-caps;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 5px;
    background: var(--bg-color-main);
    line-height: 0.7;
    text-align: center;
}

.fixed-note-button:after {
    font-size: 30px;
    margin: 0px 0px 5px 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    cursor: pointer;
    content: "\f058";
    color: lime;
}

ul.team-note-list {
   list-style-type: none;
}

li.team-build-msg:before {
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    font-weight: 700;
}

li.info:before {
    content: "\f05a";
    color: deepskyblue;
}

li.ok:before {
    content: "\f058";
    color: springgreen;
}

li.warning:before,
.fixed-note-button.warning:after {
    content: "\f071";
    color: gold;
}

li.error:before,
.fixed-note-button.error:after {
    content: "\f057";
    color: red;
}

li.info:before,
li.ok:before,
li.warning:before,
li.error:before {
    padding-right: 5px;
}

li.ok mark {
    background: springgreen;
    color: var(--font-color-main-reverse);
}

li.error mark {
    background: #ef5350;
    color: var(--font-color-main-reverse);
}

li.warning mark {
    background: gold;
    color: var(--font-color-main-reverse);
}

button.fixed-note-button:hover {
    background: var(--scrollbar-color-thumb-hover);
}

div#team-build-note-header {
    border-bottom: 1px solid;
    padding: 5px;
}

span.highlight-notes {
    color: #03a9f4;
}

.team-note-div {
    display: none;
    border-bottom: 1px dashed white;
}

span.team-note-boss {
    margin: 5px;
    display: flex;
    align-items: center;
}

.sp-used-div,
.sp-used-sub-div {
    display: inline-block;
}

.sp-used-sub-div {
    padding-left: 5px;
}

.sp-used-sub-div.used > img{
    filter: grayscale(100%);
}

.vs-red-div                 { background-image: url('/tm-planner/assets/img/special_icons/vs_red.png');             background-size: 24px 24px; }
.sw-red-div                 { background-image: url('/tm-planner/assets/img/special_icons/sw_red.png');             background-size: 24px 24px; }

.atk-boost-div              { background-image: url('/tm-planner/assets/img/special_icons/atk_boost.png');          background-size: 24px 24px; }
.orb-boost-div              { background-image: url('/tm-planner/assets/img/special_icons/orb_boost.png');          background-size: 24px 24px; }
.affinity-div               { background-image: url('/tm-planner/assets/img/special_icons/affinity.png');           background-size: 24px 24px; }
.atk-delay-div              { background-image: url('/tm-planner/assets/img/special_icons/atk_delay.png');          background-size: 24px 24px; }
.atk-def-down-div           { background-image: url('/tm-planner/assets/img/special_icons/atk_def_down.png');       background-size: 24px 24px; }
.atk-poison-div             { background-image: url('/tm-planner/assets/img/special_icons/atk_poison.png');         background-size: 24px 24px; }
.atk-burn-div               { background-image: url('/tm-planner/assets/img/special_icons/atk_burn.png');           background-size: 24px 24px; }
.atk-inc-dmg-div            { background-image: url('/tm-planner/assets/img/special_icons/atk_inc_dmg.png');        background-size: 24px 24px; }
.chain-add-div              { background-image: url('/tm-planner/assets/img/special_icons/chain_add.png');          background-size: 24px 24px; }
.chain-mult-div             { background-image: url('/tm-planner/assets/img/special_icons/chain_mult.png');         background-size: 24px 24px; }
.chain-lock-div             { background-image: url('/tm-planner/assets/img/special_icons/chain_lock.png');         background-size: 24px 24px; }
.chain-bound-div            { background-image: url('/tm-planner/assets/img/special_icons/chain_bound.png');        background-size: 24px 24px; }
.base-atk-boost-div         { background-image: url('/tm-planner/assets/img/special_icons/base_atk_boost.png');     background-size: 24px 24px; }
.slot-change-div            { background-image: url('/tm-planner/assets/img/special_icons/slot_change.png');        background-size: 24px 24px; }
.slot-change-block-div      { background-image: url('/tm-planner/assets/img/special_icons/slot_change_block.png');  background-size: 24px 24px; }
.slot-lock-div              { background-image: url('/tm-planner/assets/img/special_icons/slot_lock.png');          background-size: 24px 24px; }
.slot-lock-tap-div          { background-image: url('/tm-planner/assets/img/special_icons/slot_lock_tap.png');      background-size: 24px 24px; }
.slot-pos-div               { background-image: url('/tm-planner/assets/img/special_icons/slot_pos.png');           background-size: 24px 24px; }
.delay-div                  { background-image: url('/tm-planner/assets/img/special_icons/delay.png');              background-size: 24px 24px; }
.def-down-div               { background-image: url('/tm-planner/assets/img/special_icons/def_down.png');           background-size: 24px 24px; }
.poison-div                 { background-image: url('/tm-planner/assets/img/special_icons/poison.png');             background-size: 24px 24px; }
.dmg-normal-div             { background-image: url('/tm-planner/assets/img/special_icons/dmg_normal.png');         background-size: 24px 24px; }
.dmg-fixed-div              { background-image: url('/tm-planner/assets/img/special_icons/dmg_fixed.png');          background-size: 24px 24px; }
.dmg-eot-div                { background-image: url('/tm-planner/assets/img/special_icons/dmg_eot.png');            background-size: 24px 24px; }
.hp-cut-div                 { background-image: url('/tm-planner/assets/img/special_icons/hp_cut.png');             background-size: 24px 24px; }
.dmg-add-div                { background-image: url('/tm-planner/assets/img/special_icons/dmg_add.png');            background-size: 24px 24px; }
.heal-div                   { background-image: url('/tm-planner/assets/img/special_icons/heal.png');               background-size: 24px 24px; }
.def-perc-div               { background-image: url('/tm-planner/assets/img/special_icons/def_perc.png');           background-size: 24px 24px; }
.def-thres-div              { background-image: url('/tm-planner/assets/img/special_icons/def_thres.png');          background-size: 24px 24px; }
.def-null-div               { background-image: url('/tm-planner/assets/img/special_icons/def_null.png');           background-size: 24px 24px; }
.resil-div                  { background-image: url('/tm-planner/assets/img/special_icons/resil.png');              background-size: 24px 24px; }
.cd-red-div                 { background-image: url('/tm-planner/assets/img/special_icons/cd_red.png');             background-size: 24px 24px; }
.cd-rew-red-div             { background-image: url('/tm-planner/assets/img/special_icons/cd_rew_red.png');         background-size: 24px 24px; }
.immu-blow-away-div         { background-image: url('/tm-planner/assets/img/special_icons/immu_blow_away.png');     background-size: 24px 24px; }
.bypass-def-div             { background-image: url('/tm-planner/assets/img/special_icons/bypass_def.png');         background-size: 24px 24px; }
.bind-red-div               { background-image: url('/tm-planner/assets/img/special_icons/bind_red.png');           background-size: 24px 24px; }
.desp-red-div               { background-image: url('/tm-planner/assets/img/special_icons/desp_red.png');           background-size: 24px 24px; }
.sp-bind-red-div            { background-image: url('/tm-planner/assets/img/special_icons/sp_bind_red.png');        background-size: 24px 24px; }
.para-red-div               { background-image: url('/tm-planner/assets/img/special_icons/para_red.png');           background-size: 24px 24px; }
.poison-red-div             { background-image: url('/tm-planner/assets/img/special_icons/poison_red.png');         background-size: 24px 24px; }
.blind-red-div              { background-image: url('/tm-planner/assets/img/special_icons/blind_red.png');          background-size: 24px 24px; }
.burn-red-div               { background-image: url('/tm-planner/assets/img/special_icons/burn_red.png');           background-size: 24px 24px; }
.atk-down-red-div           { background-image: url('/tm-planner/assets/img/special_icons/atk_down_red.png');       background-size: 24px 24px; }
.chain-lock-red-div         { background-image: url('/tm-planner/assets/img/special_icons/chain_lock_red.png');     background-size: 24px 24px; }
.chain-down-red-div         { background-image: url('/tm-planner/assets/img/special_icons/chain_down_red.png');     background-size: 24px 24px; }
.inc-dmg-red-div            { background-image: url('/tm-planner/assets/img/special_icons/inc_dmg_red.png');        background-size: 24px 24px; }
.stun-red-div               { background-image: url('/tm-planner/assets/img/special_icons/stun_red.png');           background-size: 24px 24px; }
.ca-swap-red-div            { background-image: url('/tm-planner/assets/img/special_icons/ca_swap_red.png');        background-size: 24px 24px; }
.dmg-eot-red-e-div          { background-image: url('/tm-planner/assets/img/special_icons/dmg_eot_red_e.png');      background-size: 24px 24px; }
.def-red-e-div              { background-image: url('/tm-planner/assets/img/special_icons/def_red_e.png');          background-size: 24px 24px; }
.def-perc-red-e-div         { background-image: url('/tm-planner/assets/img/special_icons/def_perc_red_e.png');     background-size: 24px 24px; }
.def-thres-red-e-div        { background-image: url('/tm-planner/assets/img/special_icons/def_thres_red_e.png');    background-size: 24px 24px; }
.def-null-red-e-div         { background-image: url('/tm-planner/assets/img/special_icons/def_null_red_e.png');     background-size: 24px 24px; }
.bar-red-e-div              { background-image: url('/tm-planner/assets/img/special_icons/bar_red_e.png');          background-size: 24px 24px; }
.resil-red-e-div            { background-image: url('/tm-planner/assets/img/special_icons/resil_red_e.png');        background-size: 24px 24px; }
.enrage-red-e-div           { background-image: url('/tm-planner/assets/img/special_icons/enrage_red_e.png');       background-size: 24px 24px; }

.bind-div                   { background-image: url('/tm-planner/assets/img/special_icons/bind.png');               background-size: 24px 24px; }
.desp-div                   { background-image: url('/tm-planner/assets/img/special_icons/desp.png');               background-size: 24px 24px; }
.sp-bind-div                { background-image: url('/tm-planner/assets/img/special_icons/sp_bind.png');            background-size: 24px 24px; }
.para-div                   { background-image: url('/tm-planner/assets/img/special_icons/para.png');               background-size: 24px 24px; }
.blind-div                  { background-image: url('/tm-planner/assets/img/special_icons/blind.png');              background-size: 24px 24px; }
.burn-div                   { background-image: url('/tm-planner/assets/img/special_icons/burn.png');               background-size: 24px 24px; }
.burn-p-div                 { background-image: url('/tm-planner/assets/img/special_icons/burn_p.png');             background-size: 24px 24px; }
.atk-down-div               { background-image: url('/tm-planner/assets/img/special_icons/atk_down.png');           background-size: 24px 24px; }
.chain-down-div             { background-image: url('/tm-planner/assets/img/special_icons/chain_down.png');         background-size: 24px 24px; }
.inc-dmg-div                { background-image: url('/tm-planner/assets/img/special_icons/inc_dmg.png');            background-size: 24px 24px; }
.cd-rew-div                 { background-image: url('/tm-planner/assets/img/special_icons/cd_rew.png');             background-size: 24px 24px; }
.cd-lock-div                { background-image: url('/tm-planner/assets/img/special_icons/cd_lock.png');            background-size: 24px 24px; }
.slot-block-div             { background-image: url('/tm-planner/assets/img/special_icons/slot_block.png');         background-size: 24px 24px; }
.slot-para-div              { background-image: url('/tm-planner/assets/img/special_icons/slot_para.png');          background-size: 24px 24px; }
.slot-poison-div            { background-image: url('/tm-planner/assets/img/special_icons/slot_poison.png');        background-size: 24px 24px; }
.slot-neg-div               { background-image: url('/tm-planner/assets/img/special_icons/slot_neg.png');           background-size: 24px 24px; }
.immu-all-div               { background-image: url('/tm-planner/assets/img/special_icons/immu_all.png');           background-size: 24px 24px; }
.immu-delay-div             { background-image: url('/tm-planner/assets/img/special_icons/immu_delay.png');         background-size: 24px 24px; }
.immu-def-div               { background-image: url('/tm-planner/assets/img/special_icons/immu_def.png');           background-size: 24px 24px; }
.immu-poison-div            { background-image: url('/tm-planner/assets/img/special_icons/immu_poison.png');        background-size: 24px 24px; }
.immu-except-div            { background-image: url('/tm-planner/assets/img/special_icons/immu_except.png');        background-size: 24px 24px; }
.atk-div                    { background-image: url('/tm-planner/assets/img/special_icons/atk.png');                background-size: 24px 24px; }
.def-div                    { background-image: url('/tm-planner/assets/img/special_icons/def.png');                background-size: 24px 24px; }
.bar-p-div                  { background-image: url('/tm-planner/assets/img/special_icons/bar_p.png');              background-size: 24px 24px; }
.bar-gt-div                 { background-image: url('/tm-planner/assets/img/special_icons/bar_gt.png');             background-size: 24px 24px; }
.bar-gd-div                 { background-image: url('/tm-planner/assets/img/special_icons/bar_gd.png');             background-size: 24px 24px; }
.bar-hit-div                { background-image: url('/tm-planner/assets/img/special_icons/bar_hit.png');            background-size: 24px 24px; }
.bar-slot-div               { background-image: url('/tm-planner/assets/img/special_icons/bar_slot.png');           background-size: 24px 24px; }
.bar-hp-div                 { background-image: url('/tm-planner/assets/img/special_icons/bar_hp.png');             background-size: 24px 24px; }
.dmg-eot-e-div              { background-image: url('/tm-planner/assets/img/special_icons/dmg_eot_e.png');          background-size: 24px 24px; }
.enrage-div                 { background-image: url('/tm-planner/assets/img/special_icons/enrage.png');             background-size: 24px 24px; }
.fixed-target-div           { background-image: url('/tm-planner/assets/img/special_icons/fixed_target.png');       background-size: 24px 24px; }
.nao-div                    { background-image: url('/tm-planner/assets/img/special_icons/nao.png');                background-size: 24px 24px; }
.heal-bind-div              { background-image: url('/tm-planner/assets/img/special_icons/heal_bind.png');          background-size: 24px 24px; }
.heal-down-div              { background-image: url('/tm-planner/assets/img/special_icons/heal_down.png');          background-size: 24px 24px; }
.sp-limit-div               { background-image: url('/tm-planner/assets/img/special_icons/sp_limit.png');           background-size: 24px 24px; }
.blow-away-div              { background-image: url('/tm-planner/assets/img/special_icons/blow_away.png');          background-size: 24px 24px; }
.clear-buff-div             { background-image: url('/tm-planner/assets/img/special_icons/clear_buff.png');         background-size: 24px 24px; }
.slot-bind-div              { background-image: url('/tm-planner/assets/img/special_icons/slot_bind.png');          background-size: 24px 24px; }
.type-change-div            { background-image: url('/tm-planner/assets/img/special_icons/type_change.png');        background-size: 24px 24px; }
.stun-div                   { background-image: url('/tm-planner/assets/img/special_icons/stun.png');               background-size: 24px 24px; }
.tap-limit-div              { background-image: url('/tm-planner/assets/img/special_icons/tap_limit.png');          background-size: 24px 24px; }
.anti-heal-div              { background-image: url('/tm-planner/assets/img/special_icons/anti_heal.png');          background-size: 24px 24px; }
.anti-rcv-div               { background-image: url('/tm-planner/assets/img/special_icons/anti_rcv.png');           background-size: 24px 24px; }
.hunger-div                 { background-image: url('/tm-planner/assets/img/special_icons/hunger.png');             background-size: 24px 24px; }
.chain-atk-down-min-div     { background-image: url('/tm-planner/assets/img/special_icons/chain_atk_down_min.png'); background-size: 24px 24px; }
.chain-atk-down-max-div     { background-image: url('/tm-planner/assets/img/special_icons/chain_atk_down_max.png'); background-size: 24px 24px; }
.dmg-limit-div              { background-image: url('/tm-planner/assets/img/special_icons/dmg_limit.png');          background-size: 24px 24px; }
.ca-swap-div                { background-image: url('/tm-planner/assets/img/special_icons/ca_swap.png');            background-size: 24px 24px; }
.ship-bind-div              { background-image: url('/tm-planner/assets/img/special_icons/ship_bind.png');          background-size: 24px 24px; }
.fear-div                   { background-image: url('/tm-planner/assets/img/special_icons/fear.png');               background-size: 24px 24px; }
.p-hard-div                 { background-image: url('/tm-planner/assets/img/special_icons/p_hard.png');             background-size: 24px 24px; }
.p-easy-div                 { background-image: url('/tm-planner/assets/img/special_icons/p_easy.png');             background-size: 24px 24px; }
.counter-div                { background-image: url('/tm-planner/assets/img/special_icons/counter.png');            background-size: 24px 24px; }
.pain-div                   { background-image: url('/tm-planner/assets/img/special_icons/pain.png');               background-size: 24px 24px; }
.bleed-div                  { background-image: url('/tm-planner/assets/img/special_icons/bleed.png');              background-size: 24px 24px; }
.target-lock-div            { background-image: url('/tm-planner/assets/img/special_icons/target_lock.png');        background-size: 24px 24px; }
.intim-div                  { background-image: url('/tm-planner/assets/img/special_icons/intimidate.png');         background-size: 24px 24px; }
.silence-div                { background-image: url('/tm-planner/assets/img/special_icons/silence.png');            background-size: 24px 24px; }