Created by <a href="https://www.reddit.com/u/zl1814" target="_blank">u/zl1814</a> and wife ฅ(=①ᴥ①=)ฅ

<br>

<span id="cal-footer">
    Event list provided by <a href="https://www.reddit.com/u/planson" target="_blank">u/planson</a>

    <br>

    Background images provided by <a href="https://www.reddit.com/u/qblcookie" target="_blank">u/qblcookie</a>

    <br>
</span>

<span id="tm-footer">
    Thank you <a href="https://www.reddit.com/u/planson" target="_blank">u/planson</a> for compiling the Unit list every TM!

    <br>
</span>

欢迎中文玩家加入OPTC美服QQ群: 450369501

<br>

Please report bugs and suggestions through Discord (zl1814) or <a href="https://www.reddit.com/u/zl1814" target="_blank">Reddit (u/zl1814)</a>.

<br>

This site does not own any of the images. All images are owned by Eiichiro Oda/Shueisha, Toei Animation, and Bandai Namco.
