:root {
    --bg-color-main: #fff;
    --bg-color-nav: #f7c273;
    --bg-color-dl-button: #ffffff;
    --bg-highlight-dl-button: #FF9800;
    --bg-color-team-button: #4964ff;
    --bg-color-team-note: #fffde7;

    --font-color-title: #6495ed;
    --font-color-nav: #006f65;
    --font-color-main: #3a3a3a;
    --font-color-main-reverse: #fff;
    --font-color-dl-button: #FFC107;
    --font-highlight-dl-button: #fff;
    --font-color-news: #006f65;

    /* Scroll bar colors */
    --scrollbar-color-track: #f7c273;
    --scrollbar-color-thumb: #009688;
    --scrollbar-color-thumb-hover: #3effc6;
}

.night-mode {
    --bg-color-main: #191919;
    --bg-color-nav: #343a40;
    --bg-color-dl-button: #607D8B;
    --bg-highlight-dl-button: #000;
    --bg-color-team-button: #001069;
    --bg-color-team-note: #65757c;

    --font-color-title: #3F51B5;
    --font-color-nav: #9E9E9E;
    --font-color-main: #fff;
    --font-color-main-reverse: #3a3a3a;
    --font-color-dl-button: #191919;
    --font-highlight-dl-button: #fff;
    --font-color-news: #000;

    /* Scroll bar colors */
    --scrollbar-color-track: #343a40;
    --scrollbar-color-thumb: #ffb444;
    --scrollbar-color-thumb-hover: gray;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

/* Scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet);
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-thumb-hover);
    background: -webkit-linear-gradient(top, red , orange, yellow, green, cyan, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, red, orange, yellow, green, cyan, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, red, orange, yellow, green, cyan, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, red, orange , yellow, green, cyan, blue);
}

/* For fixed teams horizontal scrollbar */
#tm-team-sets::-webkit-scrollbar-thumb {
    background-color: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

#tm-team-sets::-webkit-scrollbar-thumb:hover {
    background-color: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, cyan, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, cyan, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue);
}
/* End Scrollbar */

.menu-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.tooltip {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

#footer {
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.home-footer {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cal-footer {
    display: none;
}

#tm-footer {
    display: none;
}

.nav-button {
    margin: 5px;
    width: 100%;
}

.navbar-bg {
    background: var(--bg-color-nav);
}

.night-mode {
    background-color: rgb(25, 25, 25);
    color: #fafafa;
}

.night-mode .form-control-plaintext {
    color: #fafafa;
}

.night-mode .modal-content {
    background-color: rgb(25, 25, 25);
}

nav.navbar.navbar-expand-md.navbar-dark.navbar-bg a {
    color: var(--font-color-nav);
}

.btn-secondary {
    color: var(--font-color-dl-button);
    background-color: var(--bg-color-dl-button);
    border-color: var(--bg-color-dl-button);
}

.btn-secondary:hover {
    color: var(--font-highlight-dl-button);
    background-color: var(--bg-highlight-dl-button);
    border-color: var(--bg-highlight-dl-button);
}

.nav-item:hover {
    background-color: var(--bg-highlight-dl-button);
}

.class-filter,
.type-filter,
.sp-filter,
.sl-filter,
.ca-filter,
.sv-filter,
.sw-filter,
.sup-filter {
    cursor: pointer;
    float: left;
    height: 25px;
    margin: 5px;
    opacity: .3;
    width: 25px;
}

.class-mode {
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    opacity: .3;
    padding: 5px;
    text-align: center;
    width: 100%;
    min-width: 50px;
    max-width: 200px;
}

.selected {
    opacity: 1;
}

.STR { color: crimson; }
.DEX { color: mediumseagreen; }
.QCK { color: dodgerblue; }
.PSY { color: goldenrod; }
.INT { color: darkorchid; }

.STR-badge   { background-color: salmon; }
.QCK-badge   { background-color: lightskyblue; }
.DEX-badge   { background-color: lightgreen; }
.PSY-badge   { background-color: gold; }
.INT-badge   { background-color: orchid; }

.RCV-div     { background-color: sandybrown; }
.TND-div     { background-color: peru; }
.BLOCK-div   { background-color: slateblue; }
.BOMB-div    { background-color: maroon; }
.RAINBOW-div { background: linear-gradient(90deg,#fa8072,#ffd700,#90ee90,#87cefa, #da70d6); }
.G-div       { background-color: orange; }
.EMPTY-div   { background-color: #777; }

.RCV-div,
.TND-div,
.BLOCK-div,
.BOMB-div,
.RAINBOW-div,
.G-div,
.EMPTY-div {
    color: #0a0a0a;
}

.fighter-div        { background-image: url('/common/assets/img/class_fighter.png'); }
.slasher-div        { background-image: url('/common/assets/img/class_slasher.png'); }
.striker-div        { background-image: url('/common/assets/img/class_striker.png'); }
.shooter-div        { background-image: url('/common/assets/img/class_shooter.png'); }
.free-spirit-div    { background-image: url('/common/assets/img/class_free_spirit.png'); }
.cerebral-div       { background-image: url('/common/assets/img/class_cerebral.png'); }
.powerhouse-div     { background-image: url('/common/assets/img/class_powerhouse.png'); }
.driven-div         { background-image: url('/common/assets/img/class_driven.png'); }

.STR-div    { background-image: url('/common/assets/img/slot_s.png'); background-size: 24px 24px; }
.DEX-div    { background-image: url('/common/assets/img/slot_d.png'); background-size: 24px 24px; }
.QCK-div    { background-image: url('/common/assets/img/slot_q.png'); background-size: 24px 24px; }
.PSY-div    { background-image: url('/common/assets/img/slot_p.png'); background-size: 24px 24px; }
.INT-div    { background-image: url('/common/assets/img/slot_i.png'); background-size: 24px 24px; }
